body{
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1F2937;
    padding: 10px 200px;
    color: #f9faf8;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 24px;
    
}

.links a, .bottom .description{
    font-size: 18px;
    color: #e5e7eb;
}

.bottom{
    display: flex;
    justify-content: space-between;
}

.bottom .title{
    font-size: 48px;
    font-weight: bolder;
}
.content{
    flex: 1;
}

.quote{
    flex: 1;
    background-color: #3882F6;
}

.signup{
    flex: 1;
}
.footer{
    background-color: #3882F6;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 8px;
    padding: 0px;
}

a{
    text-decoration: none;
}